/* import font-family */

@font-face {
    font-family:"raleway-black" ;
    src : url(../fonts/Raleway-Black.ttf); 
}
@font-face {
    font-family:"raleway-regular";
    src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
   font-family:"raleway-medium";
   src: url(../fonts/Raleway-Medium.ttf);
}
@font-face{
    font-family:"raleway-bold";
    src: url(../fonts/Raleway-Bold.ttf);
}
@font-face {
    font-family: "raleway-semibold";
    src: url(../fonts/Raleway-SemiBold.ttf);
}
@font-face {
    font-family: "raleway-italic";
    src: url(../fonts/Raleway-Italic.ttf);
}
@font-face {
    font-family: "raleway-thin";
    src: url(../fonts/Raleway-Thin.ttf);
}

/* Colors */
:root{
    --primary:#EEBF00 ;
    --secondary:#232B38;
    --ternary:#6c6c6c;
    --danger:#ff0000;
    --pure:#d0cece;
    --heaven:#ffffff;
    --light:rgba(251, 249, 249, 0.95);
    --footer:#2D333F;
}

/* Reset */

* {
  padding:0;
  margin:0;
}

body {
  -webkit-font-smoothing:antialiased ;
  font-family:raleway-regular;
  box-sizing:border-box;
}

/*Body Styling*/

.container {
  width:100%;
  margin:0 auto;
  padding: 0 15px;
}


/* Media Queries */
@media (min-width:576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1152px;
    }
}

/*Main Wrapper Styling */

.main-wrapper{
    position:relative;
    width:100%;
    height:100vh;
    overflow:hidden;
}

.main-wrapper .nav-background{
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    padding:0;
    background:var(--light);
    z-index:1;
}

.main-wrapper .site-content-wrapper{
  position:absolute;
  height:100%;
  width:100%;
  z-index:2;
  background:var(--heaven);
  transition: all .3s ease;
}

.site-content-wrapper.scaled{
    transform: scale(0.9) translateX(90%);
    border-radius:3px;
    box-shadow:0 3px 10px 0 var(--secondary);
}

.nav-trigger{
    position:absolute;
    top:0;
    left:0;
    padding:10px;
    z-index:1;
    display:none;
}

.nav-trigger svg{
    width:40px;
    height:40px;
    transform: rotate(90deg) scaleX(-1);
}

.site-content{
    width:100%;
    height:100%;
    overflow-x:auto;
}

/* Mobile Navigation menu Styling */
.nav-background .mobile-logo{
    padding:1rem;
}

.nav-background .mobile-nav .cart{
    display:flex;
    text-align:left;
    align-items:center;
    padding:0.75rem;
    margin-bottom:1.5rem;
}

.nav-background .mobile-nav .cart img{
    width:20px;
    height:20px;
    margin-right:0.55rem;
}

.nav-background .mobile-nav .cart a {
    font-family:raleway-bold;
    font-size:1rem;
    text-decoration:none;
    color:var(--secondary);
}

.nav-background .mobile-nav .nav-top ul{
    list-style-type:none;
    padding:0.75rem;
    margin-bottom:1rem;
}

.nav-background .mobile-nav .nav-top ul li {
      margin-bottom:0.40rem;
}

.nav-background .mobile-nav .nav-top ul li a{
    text-decoration:none;
    color:var(--secondary);
    font-family:raleway-semibold;
    font-size:1rem;
}

.nav-background .mobile-nav .nav-top ul li a:hover{
    color:var(--primary);
}

.nav-background .mobile-nav .contact, .nav-background .mobile-nav .time{
    padding: 0.75rem;
    padding-bottom:0.5rem;
    display:flex;
    text-align:center;
}

.nav-background .mobile-nav .contact img, .nav-background .mobile-nav .time img{
    margin-right:0.75rem;
}

.nav-background .mobile-nav .contact h5, .nav-background .mobile-nav .time h5 {
    font-family:raleway-bold;
    margin-bottom:0.15rem;
    text-align:left;
}

.nav-background .mobile-nav .contact h6, .nav-background .mobile-nav .time h6{
    font-family:raleway-medium;
    text-align:left;
}

/* Header Top Bar Styling*/

header.topbar {
    background: var(--secondary);
    color: var(--pure);
    font-family: raleway-bold;
    padding:0.75rem 0 ;
}

header.topbar  .auth > div a{
    color:var(--pure);
    text-decoration:none;
}

header.topbar  .icons a{
    margin-right : 0.6rem  ;
}

header.topbar .auth .divider{
    padding:0 1rem ;
}

header.topbar .auth img{
    margin-right : 0.35rem;
}

/* Header Nav Bar Styling ..*/

nav .top{
    padding: 1.0rem 0;
}

nav .top .contact h5, nav .top .time h5 {
    font-family : raleway-black;
    margin-bottom : 0.025rem;
}

nav .top  .contact h6, nav .top .time h6 {
    font-family: raleway-medium;
    font-size:0.75rem;
    letter-spacing:0.055rem;
    color:var(--ternary);
}

nav .top .contact img, nav .top .time img{
    margin-right:1rem;
}

nav .navbar a {
    padding: 0.8rem 1.5rem;
    border-radius:4px;
    font-family: raleway-semibold;
    font-size: 1.5rem;
    color: var(--secondary);
    text-decoration: none;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
}

nav .navbar a.active{
    background-color:var(--primary);
    color:var(--heaven);
}

nav .navbar a:hover {
    background-color: var(--primary);
    color: var(--heaven);

}



/*Utility Class*/

.flex {
    display: flex;
}

.flex-1{
    flex:1;
}

.justify-between{
    justify-content:space-between;
}

.justify-center{
    justify-content:center ;
}

.align-center{
    align-items:center;
}

.text-center{
    text-align:center;
}

.text-primary{
    color:var(--primary);
}

.text-pure {
    color: var(--pure);
}

hr{
    border:1px solid var(--light);
    opacity:0.8;
    margin-bottom:0.75rem;
}

.btn{
    border-radius:5px;
    padding:0.75rem 1.5rem ;
    font-family:raleway-semibold;
    font-size:1rem;
    transition: all .3s ease ;
}

.btn-primary {
    border: 1px solid transparent;
    color: var(--heaven);
    background-color:var(--primary);
}

.btn-secondary {
    border: 1px solid transparent;
    color: var(--heaven);
    background-color: var(--secondary);
}

.btn-primary:hover {
    border: 2px solid var(--primary);
    color: var(--primary);
    background-color: var(--heaven);
}

.btn-secondary:hover {
    border: 2px solid var(--secondary);
    color: var(--secondary);
    background-color: var(--heaven);
}

section{
    padding:2.5rem 0 ;
}

.section-heading{
    font-family:raleway-bold;
    position:relative;
    text-align:center;
    margin-bottom:4rem;
}

.section-heading:after{
    content:'';
    display:block;
    width:100%;
    height:30px;
    position:absolute;
    background-image:url('../icons/hr.svg');
    background-repeat:no-repeat;
    background-position:center;
    bottom:-40px;
}



/* Header hero Styling.. */

.magic-shadow{
    position:relative;
    background:var(--heaven);
}

.magic-shadow:after{
    content:'';
    width:100%;
    display:block;
    height:70px;
    position:absolute;
    background-image:url('../icons/shadow.svg');
    background-position:center;
    background-repeat:no-repeat;
    bottom:-22px;
    z-index:-1;
}

.magic-shadow-sm {
    position: relative;
    background: var(--heaven);
}

    .magic-shadow-sm:after {
        content: '';
        width: 100%;
        display: block;
        height: 70px;
        position: absolute;
        background-image: url('../icons/shadow-sm.svg');
        background-position: center;
        background-repeat: no-repeat;
        left: 50%;
        transform: translateX(-50%);
        bottom: -22px;
        z-index: -1;
    }

header.hero {
    height:600px;
    background-image:url('../images/hero.png');
    background-position:0% 0%;
    background-repeat:no-repeat;
    overflow:hidden;
}

header.hero .container{
    position:relative;
}

header.hero .welcome{
    margin-bottom:0.25rem;
}

header.hero .welcome span{
    font-family:raleway-black ;
    margin-right:0.75rem;
    color:var(--secondary);
}

header.hero h1 {
        font-family: raleway-bold;
        font-size: 2.5rem;
        color: var(--secondary);
        margin-bottom:0.25rem;
}

header.hero h1 span{
    color:var(--primary);
}

header.hero p{
    font-family:raleway-medium;
    font-size:1.0rem;
    color:var(--secondary);
    width:50%;
    line-height:1.5;
    margin-bottom:.7rem;
}

header.hero button:first-child {
     margin-right: 0.5rem;
}

header.hero .hero-img{
    position:absolute;
    right:40px;
    top:-40px;
}


/* Section Top Products Styling */

section.top-products {
    background: var(--light);
}

section.top-products .food-slider .food-card{
    background-color:var(--heaven);
    padding:1.5rem 0;
    border-radius:4px;
}

section.top-products .food-slider .food-card .product-img img{
    width:80%;
    height:200px;
    object-fit:contain;
    padding-bottom:1rem;
}

section.top-products .food-slider .food-card h2 {
    font-family: raleway-bold;
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
}

section.top-products .food-slider .food-card .stars {
    margin-bottom:0.5rem;
}

section.top-products .food-slider .food-card .stars img {
        margin-right: 0.25rem;
    }

section.top-products .food-slider .food-card .price {
    color: var(--danger);
    font-family: raleway-semibold;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

section.top-products .food-slider .food-card button {
    border:2px solid var(--primary);
    border-radius:4px;
    width:50%;
    cursor:pointer;
    color:var(--secondary);
    background-color:var(--heaven);
    margin-bottom:0.25rem;
    transition: all .3s ease;
}

section.top-products .food-slider .food-card button:hover{
    background-color:var(--primary);
    color:var(--heaven);
}

section.top-products .food-slider .food-card button span{
    font-family:raleway-semibold;
    font-size:1rem;
    text-align:center;
}

section.top-products .food-slider .food-card button img {
        padding: 0.5rem;
        background-color: var(--primary);
        height: 32px;
        margin-right:1.2rem;
}

/* Styling Slick Carousel */
  
    .slick-slide{
        margin:0 27px ;
    }

    .slick-list{
        margin:0 -27px;
    }

    .slick-track{
        padding: 1rem 0 ;
    }

/* section top products styling */

section.top-products .slider{
    position:relative;
}

    section.top-products .slider .slider-btn {
        width: 30px;
        height: 32px;
        border: none;
        background: var(--primary);
        border-radius: 4px;
        cursor:pointer;
        outline: none;
    }

 section.top-products .slider .prev-btn {
        position: absolute;
        top: 46%;
        left:-3rem;
        z-index:1;
    }

section.top-products .slider .next-btn {
        position: absolute;
        top: 46%;
        right:-3rem;
        z-index:1;
 }

section.top-products .btn-wrapper{
    margin-top:2rem;
}

/* About Meal Section Styling .*/

section.about-meal .about-meal-wrap img{
    width:85%;
}

section.about-meal  .about-meal-wrap h2{
    font-family:raleway-semibold;
    line-height:1.3;
    margin:1rem 0;
}

section.about-meal .about-meal-wrap p{
    font-family:raleway-regular;
    margin-bottom:2rem;
    line-height:1.7;
}

/* Our Services */

section.our-services {
    background-color: var(--light);
    position: relative;
    z-index:0;
}

section.our-services .service-wrap{
    margin-top:8rem;
    margin-right:-2rem;
}

section.our-services .service-card {
    position:relative;
    text-align:center;
    padding:2rem;
    padding-top:4rem;
    border-radius:4px;
    background-color:var(--heaven);
    margin-right:2rem;
}

section.our-services .service-card img{
    position:absolute;
    top:-45px;
    left:50%;
    transform:translateX(-50%);
}

section.our-services .service-card h2{
    font-family:raleway-semibold;
    font-size:1.3rem;
    margin-bottom:1rem;
}

section.our-services .service-card p {
        font-family: raleway-regular;
        line-height: 1.6;
        margin-bottom: 1rem;
}

      /*   big  Deal  Styling  */
section.big-deal{
    background:linear-gradient(
        rgb(35, 37, 104, 0.7),
        rgb(45, 26, 74, 0.8)
        ), url('../images/food-table.jpg');
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}

section.big-deal .timer{
    margin:3rem 0;
    margin-right:-1.5rem;
}

section.big-deal .timer div{
    background-color:var(--primary);
    width:150px;
    height:150px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    margin-right:1.5rem;
    border-radius:4px;
}

section.big-deal .timer div span:first-child{
    font-family:raleway-semibold;
    font-size:2.5rem;
    margin-bottom:0.1rem;
    color:var(--heaven);
}
    
section.big-deal .timer div span:last-child {
        font-family: raleway-semibold;
        font-size: 1.2rem;
        color: var(--secondary);
}

/* Blog and news Article Styling */

section.latest-news{
    position:relative;
    z-index:0;
    background-color:var(--light);
}

section.latest-news .news-wrapper{
    display:flex;
    margin-right:-2rem;
    margin-bottom:2rem;
}

section.latest-news .news-wrapper .card{
    background-color:var(--heaven);
    margin-right:2rem;
    padding:2rem;
    border-radius:4px;
}

section.latest-news .news-wrapper .card img{
    width:100%;
}

section.latest-news .news-wrapper .card .post-meta{
    font-family:raleway-regular;
    margin-bottom:1.5rem;
}

section.latest-news .news-wrapper .card h2{
    font-family:raleway-semibold;
    margin-bottom:1.2rem;
}

section.latest-news .news-wrapper .card p{
    font-family:raleway-medium;
    line-height:1.5rem;
}

/* Subsribe Section Styling */

section.subscribe{
    background-color:var(--primary);
}

section.subscribe .container div:first-child{
    flex:1;
}

section.subscribe .container div:last-child {
    flex: 1;
} 

section.subscribe .container img{
    width:90%;
}

section.subscribe .container h2{
    font-family:raleway-bold;
    font-size:1.5rem;
    margin-bottom:1.2rem;
}

section.subscribe .container p {
        font-family: raleway-medium;
        font-size: 1.2rem;
        margin-bottom: 1.2rem;
        line-height:1.6;
        margin-bottom:2rem;
}

section.subscribe .btn-wrapper{
    background-color:var(--heaven);
    border-radius:4px;
    display:flex;
    padding:0.2rem;
}

section.subscribe .btn-wrapper input{
    width:100%;
    font-size:1rem;
    padding:0 1rem;
    font-family:raleway-semibold;
    border:none;
}

section.subscribe .btn-wrapper input:focus{
    outline:none;
}

section.subscribe .btn-wrapper button{
    font-family:raleway-semibold;
    font-size:1rem;
    background-color:var(--primary);
    color:var(--heaven);
    border:none;
    border-radius:4px;
    padding:0.5rem 1rem;
    outline:none;
    transition: all .3s ease;
}

section.subscribe .btn-wrapper button:hover{
    background-color:var(--secondary);
    color:var(--heaven);
}

/*  Contact-Us Styling */

section.contact {
    padding:0px 0px;
}

section.contact .contact-wrapper{
    flex:1;
    padding:1.5rem 0 ;
} 

section.contact .contact-info > div > div{
    display:flex;
    align-items:center;
    margin-bottom:2rem;
}

section.contact .contact-info > div > div > div {
        display: flex;
        flex-direction:column;
} 

section.contact .contact-info img{
    margin-right:1rem;
}

section.contact .contact-info > div > div > div span:first-child {
        font-family:raleway-bold;
        font-size:1rem;
        margin-bottom:0.2rem;
}

section.contact .contact-info > div > div > div span:last-child {
        font-family: raleway-regular;
        font-size: 1rem;
} 


section.contact .map{
    flex:1;
}

/*  Footer Styling */
footer.footer{
    background-color:var(--footer);
    padding:4rem 0;
}

footer.footer .footerwrap{
    display:flex;
    color:var(--pure);
    margin-right:-2rem;
}

footer.footer .footerwrap .box{
    flex:1;
    margin-right:2rem;
    text-align:center;
}

footer.footer .footerwrap .box h2{
    color:var(--heaven);
    font-size:1.5rem;
    border-bottom:2px solid var(--pure);
    padding-bottom:1rem;
    margin-bottom:1.5rem;
}

footer.footer .footerwrap .box:first-child p{
    text-align:justify;
    font-family:raleway-medium;
    font-size:1rem;
    line-height:1.4;
    margin-bottom:2rem;
}
   
footer.footer .footerwrap .box ul{
    list-style-type:none;
}
 
footer.footer .footerwrap .box ul li {
        font-family:raleway-semibold;
        font-size:1rem;
        margin-bottom:1.2rem;
}

  
footer.footer .footerwrap .box ul li a{
        text-decoration:none;
        color:var(--pure);
}
    
footer.footer .box .social-icons li{
    display:flex;
    justify-content:center;
    text-align:left;
    margin-bottom:1.5rem;
}
   
footer.footer .box .social-icons li img {
        margin-right: 0.8rem;
}

footer.footer .footerwrap .insta-post {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
}

footer.footer .footerwrap .insta-post > div {
        width: calc((1/3)*100% - (1-1/3)*10px);
        margin-bottom:10px;
} 

footer.footer .insta-api img{
    width:100%;
    height:100%;
    object-fit:cover;
}

/* Copywright Styling */

footer.copywright{
    background-color:var(--secondary);
    text-align:center;
    padding:1.5rem 0;
}

footer.copywright div{
    font-family:raleway-medium;
    color:var(--pure);
    font-size:0.8rem;
}

footer.copywright div a{
    font-family:raleway-bold;
    color:var(--primary);
    text-decoration:none;
}

/* Media Queries for Mobile Responsive Web Site .*/

@media (max-width:992px){
    .nav-trigger{
        display:block;
    }

    header.topbar, nav{
        display:none;
    }

    header.hero{
        margin-top:-4rem;
    }

    header.hero hero-img{
        right:-360px;
        top:200px;
    }

    section.top-products .slider-btn{
        display:none !important ; /* we use important due to slider butn is in inline block.  */
    } 

    section.latest-news .news-wrapper{
        flex-direction:column;
    }

    section.latest-news .news-wrapper .card{
        margin-bottom:2rem;
    }

    footer div:last-child .insta-post > div{
        width : calc(1/2 * 100% - (1-1/3)*10px);
    }

}

@media (max-width:768px){
    section.about-meal .about-meal-wrap{
        flex-direction:column;
    }

    section.about-meal .about-meal-wrap img{
        width:100%;
    }

    section.our-services .service-wrap{
        flex-direction:column;
    }

    section.our-services .service-wrap .service-card{
        margin-right:0;
        margin-bottom:4rem;
    }

    section.subscribe .container{
        flex-direction:column;
    }

    section.subscribe .container img{
        width:100%;
        margin-bottom:1.5rem;
    }

    footer.footer .footerwrap{
        flex-direction:column;
    }

    footer.footer .footerwrap .box{
        margin-bottom:4rem;
        text-align:left;
    }

    footer.footer .footerwrap .box .social-icons li{
        display:block;
    }

    footer.footer .footerwrap .insta-post > div {
        width: calc((1/2)*100% - (1-1/3)*10px);
        margin-bottom:10px;
    } 
}

@media(max-width:576px){
    header.hero{
        margin-top:-3rem;
    }

    header.hero .container{
        padding:1.5rem;
    }

    header.hero .hero-image{
        right:-235px;
        top:150px;
    }

    section.big-deal .container{
        padding-right:1rem;
        padding-left:0;
    }

    section.big-deal .timer {
        margin-right:-0.25rem;
    }

    section.big-deal .timer div {
        margin-right: 0.25rem;
    }

    section.subscribe .container .btn-wrapper{
        margin-right:1rem;
    }

    section.contact{
        flex-direction:column;
        margin-bottom:2rem;
    }

}

























